<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Sign out', sign_out_path %></li>
<% else %>
  <li><%= link_to 'Sign in', sign_in_path %></li>
<% end %>
